* {
	font-family: 'Limelight', cursive;
}
body {
	text-align: center;
	background-image: url(../img/background.png);8
	background-size: cover;
	background-repeat: no-repeat;
}
h1 {
	padding-top: 5%;
}
p {
	margin: 10px 10px 10px 10px;
}
input {
	display: inline-block;
	margin: 10px 10px 10px 10px;
	text-align: center;
}
button {
	margin:10px 10px 10px 10px;
	padding: 7px 15px;
	background-color: #fff;
	border: none;
}